/*
  1. Base
*/
/*
  2. Components
*/
.amplitudejs-flat-black-playlist .list-screen {
  background-color: #141920;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  height: 500px;
  display: none; }
.amplitudejs-flat-black-playlist .list-screen div.list-screen-header {
  background-color: #141920;
  padding: 15px;
  text-align: center;
  position: relative;
  color: white;
  font-family: "Lato", sans-serif;
  cursor: pointer; }
.amplitudejs-flat-black-playlist .list-screen div.list-screen-header img.up-arrow {
  position: absolute;
  top: 23px;
  left: 15px;
  cursor: pointer; }
.amplitudejs-flat-black-playlist .list-screen div.list-screen-header span.list-active-song-name {
  color: #fff;
  line-height: 25px;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.5px; }
.amplitudejs-flat-black-playlist .list-screen div.list {
  overflow-y: scroll; }
.amplitudejs-flat-black-playlist .list-screen div.list div.song {
  padding: 15px;
  background-color: #242b33;
  margin-bottom: 1px;
  cursor: pointer;
  line-height: 24px; }
.amplitudejs-flat-black-playlist .list-screen div.list div.song span.song-number-now-playing {
  display: inline-block;
  width: 24px;
  text-align: center; }
.amplitudejs-flat-black-playlist .list-screen div.list div.song span.song-number-now-playing span.number {
  opacity: 0.5;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.5px; }
.amplitudejs-flat-black-playlist .list-screen div.list div.song span.song-number-now-playing img.now-playing {
  display: none; }
.amplitudejs-flat-black-playlist .list-screen div.list div.song.amplitude-active-song-container {
  background-color: #30363e; }
.amplitudejs-flat-black-playlist .list-screen div.list div.song.amplitude-active-song-container span.song-number-now-playing img.now-playing {
  display: inline-block; }
.amplitudejs-flat-black-playlist .list-screen div.list div.song.amplitude-active-song-container span.song-number-now-playing span.number {
  display: none; }
.amplitudejs-flat-black-playlist .list-screen div.list div.song div.song-meta-container {
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
  width: calc(100% - 80px); }
.amplitudejs-flat-black-playlist .list-screen div.list div.song div.song-meta-container span.song-name {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #55b560;
  letter-spacing: 0.47px;
  display: block; }
.amplitudejs-flat-black-playlist .list-screen div.list div.song div.song-meta-container span.song-artist-album {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  letter-spacing: 0.47px;
  display: block; }
.amplitudejs-flat-black-playlist .list-screen div.list div.song span.song-duration {
  display: inline-block;
  opacity: 0.5;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.5px;
  width: 35px;
  text-align: center; }
.amplitudejs-flat-black-playlist .list-screen div.list div.song span.song-artist-album {
  color: #5277b0; }
.amplitudejs-flat-black-playlist .list-screen div.list-screen-footer {
  height: 80px;
  padding: 15px; }
.amplitudejs-flat-black-playlist .list-screen div.list-screen-footer div.list-screen-meta-container {
  width: calc(100% - 123px);
  float: left; }
.amplitudejs-flat-black-playlist .list-screen div.list-screen-footer div.list-screen-meta-container span.song-name {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 24px; }
.amplitudejs-flat-black-playlist .list-screen div.list-screen-footer div.list-screen-meta-container div.song-artist-album {
  opacity: 0.5;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 16px; }
.amplitudejs-flat-black-playlist .list-screen div.list-screen-footer div.list-controls {
  width: 90px;
  float: right;
  margin-top: 8px; }
.amplitudejs-flat-black-playlist .list-screen div.list-screen-footer div.list-controls div.list-previous {
  cursor: pointer;
  width: 15px;
  height: 17px;
  background-image: url("../img/flat-black-playlist/small-previous.svg");
  background-repeat: no-repeat;
  float: left;
  margin-right: 15px;
  margin-top: 4px; }
.amplitudejs-flat-black-playlist .list-screen div.list-screen-footer div.list-controls div.list-play-pause {
  cursor: pointer;
  width: 17px;
  height: 24px;
  background-repeat: no-repeat;
  float: left; }
.amplitudejs-flat-black-playlist .list-screen div.list-screen-footer div.list-controls div.list-play-pause.amplitude-playing {
  background-image: url("../img/flat-black-playlist/small-pause.svg"); }
.amplitudejs-flat-black-playlist .list-screen div.list-screen-footer div.list-controls div.list-play-pause.amplitude-paused {
  background-image: url("../img/flat-black-playlist/small-play.svg"); }
.amplitudejs-flat-black-playlist .list-screen div.list-screen-footer div.list-controls div.list-next {
  cursor: pointer;
  width: 15px;
  height: 17px;
  background-image: url("../img/flat-black-playlist/small-next.svg");
  background-repeat: no-repeat;
  float: left;
  margin-left: 15px;
  margin-top: 4px; }

.amplitudejs-flat-black-playlist div.player-header {
  background-color: #141920;
  padding: 15px;
  text-align: center;
  position: relative;
  margin-top: 40px;
  cursor: pointer;
  color: white;
  font-family: "Lato", sans-serif; }
.amplitudejs-flat-black-playlist div.player-header img.down {
  position: absolute;
  top: 23px;
  left: 15px;
  cursor: pointer; }

.amplitudejs-flat-black-playlist div.player-top {
  position: relative; }
.amplitudejs-flat-black-playlist div.player-top img[data-amplitude-song-info="cover_art_url"] {
  width: 100%;
}

.amplitudejs-flat-black-playlist div.player-progress-bar-container {
  width: 100%;
  height: 8px;
  background-color: #000;
  position: relative;
  margin-top: -6px; }
.amplitudejs-flat-black-playlist div.player-progress-bar-container progress.song-played-progress {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 8px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
  border: none;
  cursor: pointer;
  background: transparent; }
.amplitudejs-flat-black-playlist div.player-progress-bar-container progress.song-played-progress[value]::-webkit-progress-bar {
  background: none; }
.amplitudejs-flat-black-playlist div.player-progress-bar-container progress.song-played-progress[value]::-webkit-progress-value {
  background: white; }
.amplitudejs-flat-black-playlist div.player-progress-bar-container progress.song-played-progress[value]::-moz-progress-bar {
  background: white; }
.amplitudejs-flat-black-playlist div.player-progress-bar-container progress.song-buffered-progress {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 8px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  border: none;
  background: transparent; }
.amplitudejs-flat-black-playlist div.player-progress-bar-container progress.song-buffered-progress[value]::-webkit-progress-bar {
  background: none; }
.amplitudejs-flat-black-playlist div.player-progress-bar-container progress.song-buffered-progress[value]::-webkit-progress-value {
  background-color: rgba(255, 255, 255, 0.5);
  transition: width 0.1s ease; }
.amplitudejs-flat-black-playlist div.player-progress-bar-container progress.song-buffered-progress[value]::-moz-progress-bar {
  background: rgba(255, 255, 255, 0.5); }

.amplitudejs-flat-black-playlist div.player-middle {
  background-color: #000;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  position: relative; }
.amplitudejs-flat-black-playlist div.player-middle div.time-container {
  color: white;
  width: 100%;
  background-color: #000;
  font-size: 14px;
  font-weight: bold; }
.amplitudejs-flat-black-playlist div.player-middle div.time-container span.amplitude-duration-time {
  position: absolute;
  top: 0px;
  right: 5px; }
.amplitudejs-flat-black-playlist div.player-middle div.time-container span.amplitude-current-time {
  position: absolute;
  top: 0px;
  left: 5px; }
.amplitudejs-flat-black-playlist div.player-middle span.song-name {
  font-family: Lato, sans-serif;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 24px;
  display: block; }
.amplitudejs-flat-black-playlist div.player-middle div.song-artist-album {
  opacity: 0.5;
  font-family: Lato, sans-serif;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 16px; }

.amplitudejs-flat-black-playlist div.player-bottom {
  background-color: #192029;
  padding-left: 25px;
  padding-right: 25px; }
.amplitudejs-flat-black-playlist div.player-bottom div.control-container {
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px; }
.amplitudejs-flat-black-playlist div.player-bottom div.control-container div.shuffle-container {
  margin-right: 40px; }
.amplitudejs-flat-black-playlist div.player-bottom div.control-container div.shuffle-container div.shuffle {
  width: 16px;
  height: 17px;
  cursor: pointer;
  margin: auto;
  opacity: 0.7; }
.amplitudejs-flat-black-playlist div.player-bottom div.control-container div.shuffle-container div.shuffle.amplitude-shuffle-off {
  background: url("../img/flat-black-playlist/shuffle.svg"); }
.amplitudejs-flat-black-playlist div.player-bottom div.control-container div.shuffle-container div.shuffle.amplitude-shuffle-off:hover {
  background: url("../img/flat-black-playlist/shuffle-on.svg");
  opacity: 0.8; }
.amplitudejs-flat-black-playlist div.player-bottom div.control-container div.shuffle-container div.shuffle.amplitude-shuffle-on {
  background: url("../img/flat-black-playlist/shuffle-on.svg");
  opacity: 1; }
.amplitudejs-flat-black-playlist div.player-bottom div.control-container div.shuffle-container div.shuffle.amplitude-shuffle-on:hover {
  opacity: 1; }
.amplitudejs-flat-black-playlist div.player-bottom div.control-container div.prev-container {
  margin-right: 20px; }
.amplitudejs-flat-black-playlist div.player-bottom div.control-container div.prev-container div.previous {
  background: url("../img/flat-black-playlist/previous.svg");
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: auto; }
.amplitudejs-flat-black-playlist div.player-bottom div.control-container div.prev-container div.previous:hover {
  background: url("../img/flat-black-playlist/previous-hover.svg"); }
.amplitudejs-flat-black-playlist div.player-bottom div.control-container div.play-pause-container div.play-pause {
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin: auto; }
.amplitudejs-flat-black-playlist div.player-bottom div.control-container div.play-pause-container div.play-pause.amplitude-playing {
  background: url("../img/flat-black-playlist/pause.svg"); }
.amplitudejs-flat-black-playlist div.player-bottom div.control-container div.play-pause-container div.play-pause.amplitude-paused {
  background: url("../img/flat-black-playlist/play.svg"); }
.amplitudejs-flat-black-playlist div.player-bottom div.control-container div.next-container {
  margin-left: 20px; }
.amplitudejs-flat-black-playlist div.player-bottom div.control-container div.next-container div.next {
  background: url("../img/flat-black-playlist/next.svg");
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: auto; }
.amplitudejs-flat-black-playlist div.player-bottom div.control-container div.next-container div.next:hover {
  background: url("../img/flat-black-playlist/next-hover.svg"); }
.amplitudejs-flat-black-playlist div.player-bottom div.control-container div.repeat-container {
  margin-left: 40px; }
.amplitudejs-flat-black-playlist div.player-bottom div.control-container div.repeat-container div.repeat {
  background: url("../img/flat-black-playlist/repeat.svg");
  width: 18px;
  height: 20px;
  cursor: pointer;
  margin: auto;
  opacity: 0.7; }
.amplitudejs-flat-black-playlist div.player-bottom div.control-container div.repeat-container div.repeat:hover {
  background: url("../img/flat-black-playlist/repeat-on.svg");
  opacity: 0.8; }
.amplitudejs-flat-black-playlist div.player-bottom div.control-container div.repeat-container div.repeat.amplitude-repeat-song-on {
  background: url("../img/flat-black-playlist/repeat-on.svg");
  opacity: 1; }
.amplitudejs-flat-black-playlist div.player-bottom div.control-container div.repeat-container div.repeat.amplitude-repeat-song-on:hover {
  opacity: 1; }
.amplitudejs-flat-black-playlist div.player-bottom div.control-container::after {
  content: "";
  display: table;
  clear: both; }
.amplitudejs-flat-black-playlist div.player-bottom div.volume-container {
  padding-bottom: 20px;
  text-align: center; }
.amplitudejs-flat-black-playlist div.player-bottom div.volume-container img {
  display: block;
  float: left;
  margin-top: -9px; }
.amplitudejs-flat-black-playlist div.player-bottom div.volume-container input[type="range"].amplitude-volume-slider {
  width: calc(100% - 30px);
  -webkit-appearance: none;
  display: block;
  margin-left: 10px;
  float: left; }
.amplitudejs-flat-black-playlist div.player-bottom div.volume-container input[type="range"].amplitude-volume-slider:focus {
  outline: none; }
.amplitudejs-flat-black-playlist div.player-bottom div.volume-container input[type="range"].amplitude-volume-slider::-webkit-slider-runnable-track {
  width: 75%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #cfd8dc; }
.amplitudejs-flat-black-playlist div.player-bottom div.volume-container input[type="range"].amplitude-volume-slider::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  background-color: white;
  cursor: pointer;
  margin-top: -8px;
  -webkit-appearance: none;
  border-radius: 20px; }
.amplitudejs-flat-black-playlist div.player-bottom div.volume-container input[type="range"].amplitude-volume-slider:focus::-webkit-slider-runnable-track {
  background: #cfd8dc; }
.amplitudejs-flat-black-playlist div.player-bottom div.volume-container input[type="range"].amplitude-volume-slider::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: #cfd8dc; }
.amplitudejs-flat-black-playlist div.player-bottom div.volume-container input[type="range"].amplitude-volume-slider::-moz-range-thumb {
  height: 18px;
  width: 18px;
  background-color: white;
  cursor: pointer;
  margin-top: -8px;
  -webkit-appearance: none;
  border-radius: 20px; }
.amplitudejs-flat-black-playlist div.player-bottom div.volume-container input[type="range"].amplitude-volume-slider::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #cfd8dc;
  border-width: 15px 0;
  color: transparent;
  border-color: #192029; }
.amplitudejs-flat-black-playlist div.player-bottom div.volume-container input[type="range"].amplitude-volume-slider::-ms-fill-lower {
  background: transparent;
  border-radius: 2.6px; }
.amplitudejs-flat-black-playlist div.player-bottom div.volume-container input[type="range"].amplitude-volume-slider::-ms-fill-upper {
  background: transparent;
  border-radius: 2.6px; }
.amplitudejs-flat-black-playlist div.player-bottom div.volume-container input[type="range"].amplitude-volume-slider::-ms-thumb {
  height: 18px;
  width: 18px;
  background-color: white;
  cursor: pointer;
  margin-top: 0px;
  border: 20px; }
.amplitudejs-flat-black-playlist div.player-bottom div.volume-container input[type="range"].amplitude-volume-slider:focus::-ms-fill-lower {
  background: #cfd8dc; }
.amplitudejs-flat-black-playlist div.player-bottom div.volume-container input[type="range"].amplitude-volume-slider::-ms-fill-upper {
  background: #cfd8dc; }
.amplitudejs-flat-black-playlist div.player-bottom div.volume-container input[type="range"].amplitude-volume-slider::-ms-tooltip {
  display: none; }
.amplitudejs-flat-black-playlist div.player-bottom div.volume-container:after {
  content: "";
  display: table;
  clear: both; }

@-moz-document url-prefix() {
  .amplitudejs-flat-black-playlist div.player-bottom div.volume-container input[type="range"].amplitude-volume-slider {
    margin-top: 0px; } }
@supports (-ms-ime-align: auto) {
  .amplitudejs-flat-black-playlist div.player-bottom div.volume-container input[type="range"].amplitude-volume-slider {
    margin-top: -4px;
    height: 30px;
    background-color: #192029 !important; } }
@media all and (-ms-high-contrast: none) {
  .amplitudejs-flat-black-playlist div.player-bottom div.volume-container *::-ms-backdrop,
  .amplitudejs-flat-black-playlist div.player-bottom div.volume-container input[type="range"].amplitude-volume-slider {
    margin-top: -8px;
    background-color: #192029 !important;
    background: #192029 !important; } }
/*
  3. Layout
*/
.amplitudejs-flat-black-playlist {
  position: relative;
  max-width: 400px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/*
  4. Pages
*/
/*
  5. Themes
*/
/*
  6. Utils
*/
/*
  7. Vendors
*/
/*
  8. Animations
*/
.amplitudejs-flat-black-playlist .slide-in-top {
  -webkit-animation: amplitudejs-flat-black-playlist-slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: amplitudejs-flat-black-playlist-slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

/* ----------------------------------------------
 * Generated by Animista on 2019-3-25 18:39:54
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes amplitudejs-flat-black-playlist-slide-in-top {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@keyframes amplitudejs-flat-black-playlist-slide-in-top {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.amplitudejs-flat-black-playlist .slide-out-top {
  -webkit-animation: amplitudejs-flat-black-playlist-slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: amplitudejs-flat-black-playlist-slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

/* ----------------------------------------------
 * Generated by Animista on 2019-3-25 18:45:17
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-out-top
 * ----------------------------------------
 */
@-webkit-keyframes amplitudejs-flat-black-playlist-slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0; } }
@keyframes amplitudejs-flat-black-playlist-slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0; } }

