/*
  1. Base
*/
/*
  2. Components
*/
.amplitudejs-multiple-songs {
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
  max-width: 750px;
  margin: auto;
  margin-top: 40px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
.amplitudejs-multiple-songs:after {
  content: "";
  display: table;
  clear: both; }
/*
  Small only
*/
@media screen and (max-width: 39.9375em) {
  .amplitudejs-multiple-songs {
    display: block;
  }
  .amplitudejs-multiple-songs img.album-art {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px; } }
/*
  Medium only
*/
/*
  Large Only
*/
@media screen and (min-width: 40em) {
  .amplitudejs-multiple-songs img.album-art {
    max-width: 245px; }
}

.amplitudejs-multiple-songs div.meta-container {
  width: 100%;
  padding: 2em; }
.amplitudejs-multiple-songs div.meta-container div.song-title {
  text-align: center;
  color: #263238;
  font-size: 30px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif; }
.amplitudejs-multiple-songs div.meta-container div.song-artist {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #263238;
  margin-top: 10px; }
.amplitudejs-multiple-songs div.meta-container div.time-container {
  font-family: Helvetica;
  font-size: 18px;
  color: #000;
  margin-bottom: 10px; }
.amplitudejs-multiple-songs div.meta-container div.time-container:after {
  content: "";
  display: table;
  clear: both; }
.amplitudejs-multiple-songs div.meta-container div.time-container div.current-time {
  float: left; }
.amplitudejs-multiple-songs div.meta-container div.time-container div.duration {
  float: right; }

/*
  Small only
*/
@media screen and (max-width: 39.9375em) {
  .amplitudejs-multiple-songs div.meta-container {
    width: 100%; } }
/*
  Medium only
*/
/*
  Large Only
*/
.amplitudejs-multiple-songs div.control-container {
  text-align: center;
  margin-top: 40px; }
.amplitudejs-multiple-songs div.control-container div.amplitude-prev {
  width: 28px;
  height: 24px;
  cursor: pointer;
  background: url("../img/multiple-songs/previous.svg");
  display: inline-block;
  vertical-align: middle; }
.amplitudejs-multiple-songs div.control-container div.amplitude-play-pause {
  width: 40px;
  height: 44px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle; }
.amplitudejs-multiple-songs div.control-container div.amplitude-play-pause.amplitude-paused {
  background: url("../img/multiple-songs/play.svg"); }
.amplitudejs-multiple-songs div.control-container div.amplitude-play-pause.amplitude-playing {
  background: url("../img/multiple-songs/pause.svg"); }
.amplitudejs-multiple-songs div.control-container div.amplitude-next {
  width: 28px;
  height: 24px;
  cursor: pointer;
  background: url("../img/multiple-songs/next.svg");
  display: inline-block;
  vertical-align: middle; }

/*
  Small only
*/
@media screen and (max-width: 39.9375em) {
  .amplitudejs-multiple-songs div.control-container div.amplitude-prev {
    margin-right: 40px; }
  .amplitudejs-multiple-songs div.control-container div.amplitude-next {
    margin-left: 40px; } }
/*
  Medium only
*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .amplitudejs-multiple-songs div.control-container div.amplitude-prev {
    margin-right: 40px; }
  .amplitudejs-multiple-songs div.control-container div.amplitude-next {
    margin-left: 40px; } }
/*
  Large Only
*/
@media screen and (min-width: 64em) {
  .amplitudejs-multiple-songs div.control-container div.amplitude-prev {
    margin-right: 75px; }
  .amplitudejs-multiple-songs div.control-container div.amplitude-next {
    margin-left: 75px; } }
.amplitudejs-multiple-songs progress.amplitude-song-played-progress:not([value]) {
  background-color: #313252; }

.amplitudejs-multiple-songs progress.amplitude-song-played-progress {
  background-color: #d7dee3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  display: block;
  cursor: pointer;
  border-radius: 3px;
  height: 8px;
  border: none; }

.amplitudejs-multiple-songs progress[value]::-webkit-progress-bar {
  background-color: #d7dee3;
  border-radius: 3px; }

.amplitudejs-multiple-songs progress[value]::-moz-progress-bar {
  background-color: #00a0ff;
  border-radius: 3px; }

.amplitudejs-multiple-songs progress[value]::-webkit-progress-value {
  background-color: #00a0ff;
  border-radius: 3px; }

/*
  3. Layout
*/
/*
/*
  4. Pages
*/
/*
  5. Themes
*/
/*
  6. Utils
*/
/*
  7. Vendors
*/
