/*
  Black Player
*/
.black-player {
  width: 100%;
  max-width: 375px;
  background-color: #333333;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
  font-family: "Lato", sans-serif;
  margin: auto;
  margin-top: 50px; }

.black-player-playlist {
  height: 400px;
  overflow-y: scroll; }

.black-player-controls {
  display: flex;
  justify-content: center;
  height: fit-content;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.black-player-controls img.playlist-album-art {
  float: left;
  max-width: 130px;
  max-height: 130px; }
.black-player-controls div.black-player-controls-container {
  float: left;
  width: calc( 100% - 150px );
  margin-left: 20px;
  margin-bottom: 1em;
  text-align: center; }
.black-player-controls div.black-player-controls-container span.song-name {
  display: block;
  color: white;
  font-size: 14px;
  text-align: left; }
.black-player-controls div.black-player-controls-container span.song-artist {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-align: left; }
.black-player-controls div.black-player-controls-container .progress-container-black {
  margin-right: 20px;
  position: relative;
  height: 20px;
  cursor: pointer;
  margin-bottom: 6px;
  /*
    IE 11
  */ }
.black-player-controls div.black-player-controls-container .progress-container-black:hover input[type=range].amplitude-song-slider::-webkit-slider-thumb {
  display: block; }
.black-player-controls div.black-player-controls-container .progress-container-black:hover input[type=range].amplitude-song-slider::-moz-range-thumb {
  visibility: visible; }
.black-player-controls div.black-player-controls-container .progress-container-black progress.song-played-progress-black {
  width: 100%;
  position: absolute;
  left: 0;
  top: 8px;
  right: 0;
  width: 100%;
  z-index: 60;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 3px;
  border-radius: 5px;
  background: transparent;
  border: none;
  /* Needed for Firefox */ }
@media all and (-ms-high-contrast: none) {
  .black-player-controls div.black-player-controls-container .progress-container-black *::-ms-backdrop, .black-player-controls div.black-player-controls-container .progress-container-black progress.song-played-progress-black {
    color: #FFFFFF;
    border: none;
    background-color: #E1E1E1; } }
@supports (-ms-ime-align: auto) {
  .black-player-controls div.black-player-controls-container .progress-container-black progress.song-played-progress-black {
    color: #FFFFFF;
    border: none; } }
.black-player-controls div.black-player-controls-container .progress-container-black progress.song-played-progress-black[value]::-webkit-progress-bar {
  background: none;
  border-radius: 5px; }
.black-player-controls div.black-player-controls-container .progress-container-black progress.song-played-progress-black[value]::-webkit-progress-value {
  background-color: #FFFFFF;
  border-radius: 5px; }
.black-player-controls div.black-player-controls-container .progress-container-black progress.song-played-progress-black::-moz-progress-bar {
  background: none;
  border-radius: 5px;
  background-color: #FFFFFF;
  height: 3px;
  margin-top: -2px; }
.black-player-controls div.black-player-controls-container .progress-container-black progress.song-buffered-progress-black {
  position: absolute;
  left: 0;
  top: 8px;
  right: 0;
  width: 100%;
  z-index: 10;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 3px;
  border-radius: 5px;
  background: transparent;
  border: none;
  background-color: #D7DEE3; }
.black-player-controls div.black-player-controls-container .progress-container-black progress.song-buffered-progress-black[value]::-webkit-progress-bar {
  background-color: #E1E1E1;
  border-radius: 5px; }
.black-player-controls div.black-player-controls-container .progress-container-black progress.song-buffered-progress-black[value]::-webkit-progress-value {
  background-color: #E1E1E1;
  border-radius: 5px;
  transition: width .1s ease; }
.black-player-controls div.black-player-controls-container .progress-container-black progress.song-buffered-progress-black::-moz-progress-bar {
  background: none;
  border-radius: 5px;
  background-color: #E1E1E1;
  height: 3px;
  margin-top: -2px; }
.black-player-controls div.black-player-controls-container .progress-container-black progress::-ms-fill {
  border: none; }
@-moz-document url-prefix() {
  .black-player-controls div.black-player-controls-container .progress-container-black progress.song-buffered-progress-black {
    top: 9px;
    border: none; } }
@media all and (-ms-high-contrast: none) {
  .black-player-controls div.black-player-controls-container .progress-container-black *::-ms-backdrop, .black-player-controls div.black-player-controls-container .progress-container-black progress.song-buffered-progress-black {
    color: #78909C;
    border: none; } }
@supports (-ms-ime-align: auto) {
  .black-player-controls div.black-player-controls-container .progress-container-black progress.song-buffered-progress-black {
    color: #78909C;
    border: none; } }
.black-player-controls div.black-player-controls-container .progress-container-black input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.5px 0;
  position: absolute;
  z-index: 9999;
  top: -7px;
  height: 20px;
  cursor: pointer;
  background-color: inherit;
  left: 0; }
.black-player-controls div.black-player-controls-container .progress-container-black input[type=range]:focus {
  outline: none; }
.black-player-controls div.black-player-controls-container .progress-container-black input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #FFFFFF;
  border-radius: 0px;
  border: 0px solid #010101; }
.black-player-controls div.black-player-controls-container .progress-container-black input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #FFFFFF;
  height: 15px;
  width: 15px;
  border-radius: 16px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px; }
.black-player-controls div.black-player-controls-container .progress-container-black input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FFFFFF; }
.black-player-controls div.black-player-controls-container .progress-container-black input[type=range]::-moz-range-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #FFFFFF;
  border-radius: 0px;
  border: 0px solid #010101; }
.black-player-controls div.black-player-controls-container .progress-container-black input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #FFFFFF;
  height: 15px;
  width: 15px;
  border-radius: 16px;
  background: #FFFFFF;
  cursor: pointer; }
.black-player-controls div.black-player-controls-container .progress-container-black input[type=range]::-ms-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }
.black-player-controls div.black-player-controls-container .progress-container-black input[type=range]::-ms-fill-lower {
  background: #003d57;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0); }
.black-player-controls div.black-player-controls-container .progress-container-black input[type=range]::-ms-fill-upper {
  background: #FFFFFF;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0); }
.black-player-controls div.black-player-controls-container .progress-container-black input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #FFFFFF;
  height: 15px;
  width: 15px;
  border-radius: 16px;
  background: #FFFFFF;
  cursor: pointer;
  height: 0px;
  display: none; }
@media all and (-ms-high-contrast: none) {
  .black-player-controls div.black-player-controls-container .progress-container-black *::-ms-backdrop, .black-player-controls div.black-player-controls-container .progress-container-black input[type="range"].amplitude-song-slider {
    padding: 0px; }
  .black-player-controls div.black-player-controls-container .progress-container-black *::-ms-backdrop, .black-player-controls div.black-player-controls-container .progress-container-black input[type=range].amplitude-song-slider::-ms-thumb {
    height: 15px;
    width: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: -8px; }
  .black-player-controls div.black-player-controls-container .progress-container-black *::-ms-backdrop, .black-player-controls div.black-player-controls-container .progress-container-black input[type=range].amplitude-song-slider::-ms-track {
    border-width: 15px 0;
    border-color: transparent; }
  .black-player-controls div.black-player-controls-container .progress-container-black *::-ms-backdrop, .black-player-controls div.black-player-controls-container .progress-container-black input[type=range].amplitude-song-slider::-ms-fill-lower {
    background: #E1E1E1;
    border-radius: 10px; }
  .black-player-controls div.black-player-controls-container .progress-container-black *::-ms-backdrop, .black-player-controls div.black-player-controls-container .progress-container-black input[type=range].amplitude-song-slider::-ms-fill-upper {
    background: #E1E1E1;
    border-radius: 10px; } }
@supports (-ms-ime-align: auto) {
  .black-player-controls div.black-player-controls-container .progress-container-black input[type=range].amplitude-song-slider::-ms-thumb {
    height: 15px;
    width: 15px;
    margin-top: 3px; } }
.black-player-controls div.black-player-controls-container .progress-container-black input[type=range]:focus::-ms-fill-lower {
  background: #FFFFFF; }
.black-player-controls div.black-player-controls-container .progress-container-black input[type=range]:focus::-ms-fill-upper {
  background: #FFFFFF; }
.black-player-controls div.black-player-controls-container .shuffle-black {
  display: inline-block;
  width: 15px;
  height: 14px;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 25px;
  margin-left: -16px; }
.black-player-controls div.black-player-controls-container .shuffle-black.amplitude-shuffle-off {
  background: url("../img/multiple-playlists/black-shuffle-off.svg"); }
.black-player-controls div.black-player-controls-container .shuffle-black.amplitude-shuffle-on {
  background: url("../img/multiple-playlists/black-shuffle-on.svg"); }
.black-player-controls div.black-player-controls-container .previous-black {
  display: inline-block;
  height: 19px;
  width: 16px;
  cursor: pointer;
  background: url("../img/multiple-playlists/black-previous.svg");
  vertical-align: middle;
  margin-right: 10px; }
.black-player-controls div.black-player-controls-container .play-pause-black {
  display: inline-block;
  width: 52px;
  height: 52px;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 10px; }
.black-player-controls div.black-player-controls-container .play-pause-black.amplitude-paused {
  background: url("../img/multiple-playlists/black-play.svg"); }
.black-player-controls div.black-player-controls-container .play-pause-black.amplitude-playing {
  background: url("../img/multiple-playlists/black-pause.svg"); }
.black-player-controls div.black-player-controls-container .next-black {
  display: inline-block;
  height: 19px;
  width: 16px;
  cursor: pointer;
  background: url("../img/multiple-playlists/black-next.svg");
  vertical-align: middle;
  margin-right: 25px; }
.black-player-controls div.black-player-controls-container .repeat-black {
  display: inline-block;
  width: 15px;
  height: 16px;
  cursor: pointer;
  vertical-align: middle; }
.black-player-controls div.black-player-controls-container .repeat-black.amplitude-repeat-song-off {
  background: url("../img/multiple-playlists/black-repeat-off.svg"); }
.black-player-controls div.black-player-controls-container .repeat-black.amplitude-repeat-song-on {
  background: url("../img/multiple-playlists/black-repeat-on.svg"); }

div.black-player-song {
  border-bottom: 1px solid #979797; }
div.black-player-song img {
  max-width: 52px;
  float: left; }
div.black-player-song div.song-meta-container {
  width: calc( 100% - 62px );
  float: left;
  padding-left: 10px; }
div.black-player-song div.song-meta-container span.individual-song-name {
  display: block;
  color: white;
  font-size: 14px;
  font-weight: bold; }
div.black-player-song div.song-meta-container span.individual-song-artist {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px; }
div.black-player-song.amplitude-active-song-container div.song-meta-container span.individual-song-name {
  color: #2EBD59; }

div.black-player-song::after {
  content: "";
  display: table;
  clear: both; }

.black-player-song {
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
