/*
  1. Base
*/
/*
  2. Components
*/
.amplitudejs-single-song-player div.control-container {
  margin-top: 10px;
  padding-bottom: 10px; }
.amplitudejs-single-song-player div.control-container div.amplitude-play-pause {
  width: 74px;
  height: 74px;
  cursor: pointer;
  float: left;
  margin-left: 10px; }
.amplitudejs-single-song-player div.control-container div.amplitude-play-pause.amplitude-paused {
  background: url("../img/single-song-player/play.svg");
  background-size: cover; }
.amplitudejs-single-song-player div.control-container div.amplitude-play-pause.amplitude-playing {
  background: url("../img/single-song-player/pause.svg");
  background-size: cover; }
.amplitudejs-single-song-player div.control-container div.meta-container {
  float: left;
  width: calc(100% - 84px);
  text-align: center;
  color: white;
  margin-top: 10px; }
.amplitudejs-single-song-player div.control-container div.meta-container span[data-amplitude-song-info="name"] {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #fff;
  display: block; }
.amplitudejs-single-song-player div.control-container div.meta-container span[data-amplitude-song-info="artist"] {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: #fff;
  display: block; }
.amplitudejs-single-song-player div.control-container:after {
  content: "";
  display: table;
  clear: both; }

/*
  Small only
*/
@media screen and (max-width: 39.9375em) {
  .amplitudejs-single-song-player div.control-container div.amplitude-play-pause {
    background-size: cover;
    width: 64px;
    height: 64px; }
  .amplitudejs-single-song-player div.control-container div.meta-container {
    width: calc(100% - 74px); }
}
/*
  Medium only
*/
/*
  Large Only
*/
.amplitudejs-single-song-player div.time-container {
  opacity: 0.5;
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 12px;
  color: #fff;
  height: 15px; }
.amplitudejs-single-song-player div.time-container span.current-time {
  float: left;
  margin-left: 5px; }
.amplitudejs-single-song-player div.time-container span.duration {
  float: right;
  margin-right: 5px; }

/*
  Small only
*/
/*
  Medium only
*/
/*
  Large Only
*/
.amplitudejs-single-song-player progress.amplitude-song-played-progress {
  background-color: #313252;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  display: block;
  cursor: pointer;
  border: none; }
.amplitudejs-single-song-player progress.amplitude-song-played-progress:not([value]) {
  background-color: #313252; }

.amplitudejs-single-song-player progress[value]::-webkit-progress-bar {
  background-color: #313252; }

.amplitudejs-single-song-player progress[value]::-moz-progress-bar {
  background-color: #00a0ff; }

.amplitudejs-single-song-player progress[value]::-webkit-progress-value {
  background-color: #00a0ff; }

/*
  Small only
*/
/*
  Medium only
*/
/*
  Large Only
*/
/*
  3. Layout
*/
.amplitudejs-single-song-player div.bottom-container {
  background-color: #202136;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; }

/*
  Small only
*/
/*
  Medium only
*/
/*
  Large Only
*/
.amplitudejs-single-song-player {
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  width: 100%;
  max-width: 460px;
  -webkit-font-smoothing: antialiased; }
.amplitudejs-single-song-player img[data-amplitude-song-info="cover_art_url"] {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; }

/*
  Small only
*/
/*
  Medium only
*/
/*
  Large Only
*/
/*
  4. Pages
*/
/*
  5. Themes
*/
/*
  6. Utils
*/
/*
  7. Vendors
*/
