/*
  1. Base
*/
/*
  2. Components
*/
.amplitudejs-white-playlist {
  width: 100%;
  max-width: 375px;
  background-color: #FFFFFF;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  font-family: "Lato", sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  position: relative; }

.amplitudejs-white-playlist div.white-player-top {
  height: 64px;
  display: flex;
  width: 100%;
  align-items: center; }
.amplitudejs-white-playlist div.white-player-top div {
  flex: 1; }
.amplitudejs-white-playlist div.white-player-top div.center {
  text-align: center; }
.amplitudejs-white-playlist div.white-player-top span.now-playing {
  color: #414344;
  font-family: "Lato", sans-serif;
  line-height: 64px;
  font-weight: 600; }
.amplitudejs-white-playlist div.white-player-top img.show-playlist {
  float: right;
  cursor: pointer;
  margin-right: 10px; }

.amplitudejs-white-playlist div.white-player-center img.main-album-art {
  display: block;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 50px;
  border-radius: 8px;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
  width: 280px;
  /*height: 280px;*/
}
.amplitudejs-white-playlist div.white-player-center div.song-meta-data span.song-name {
  color: #414344;
  display: block;
  text-align: center;
  font-size: 20px; }
.amplitudejs-white-playlist div.white-player-center div.song-meta-data span.song-artist {
  color: #AAAFB3;
  display: block;
  text-align: center;
  font-size: 14px; }
.amplitudejs-white-playlist div.white-player-center div.time-progress {
  margin-bottom: 30px; }
.amplitudejs-white-playlist div.white-player-center div.time-progress span.current-time {
  color: #AAAFB3;
  font-size: 12px;
  display: block;
  float: left;
  margin-left: 20px; }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  height: 20px;
  cursor: pointer;
  /*
    IE 11
  */ }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container:hover input[type=range].amplitude-song-slider::-webkit-slider-thumb {
  display: block; }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container:hover input[type=range].amplitude-song-slider::-moz-range-thumb {
  visibility: visible; }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container progress.song-played-progress {
  width: 100%;
  position: absolute;
  left: 0;
  top: 8px;
  right: 0;
  width: 100%;
  z-index: 60;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
  border-radius: 5px;
  background: transparent;
  border: none;
  /* Needed for Firefox */ }
@media all and (-ms-high-contrast: none) {
  .amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container *::-ms-backdrop, div.white-player-center div.time-progress div.progress-container progress.song-played-progress {
    color: #FA6733;
    border: none;
    background-color: #E1E1E1; } }
@supports (-ms-ime-align: auto) {
  .amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container progress.song-played-progress {
    color: #FA6733;
    border: none; } }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container progress.song-played-progress[value]::-webkit-progress-bar {
  background: none;
  border-radius: 5px; }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container progress.song-played-progress[value]::-webkit-progress-value {
  background-color: #FA6733;
  border-radius: 5px; }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container progress.song-played-progress::-moz-progress-bar {
  background: none;
  border-radius: 5px;
  background-color: #FA6733;
  height: 5px;
  margin-top: -2px; }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container progress.song-buffered-progress {
  position: absolute;
  left: 0;
  top: 8px;
  right: 0;
  width: 100%;
  z-index: 10;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
  border-radius: 5px;
  background: transparent;
  border: none;
  background-color: #D7DEE3; }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container progress.song-buffered-progress[value]::-webkit-progress-bar {
  background-color: #E1E1E1;
  border-radius: 5px; }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container progress.song-buffered-progress[value]::-webkit-progress-value {
  background-color: #E1E1E1;
  border-radius: 5px;
  transition: width .1s ease; }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container progress.song-buffered-progress::-moz-progress-bar {
  background: none;
  border-radius: 5px;
  background-color: #E1E1E1;
  height: 5px;
  margin-top: -2px; }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container progress::-ms-fill {
  border: none; }
@-moz-document url-prefix() {
  .amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container progress.song-buffered-progress {
    top: 9px;
    border: none; } }
@media all and (-ms-high-contrast: none) {
  .amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container *::-ms-backdrop, div.white-player-center div.time-progress div.progress-container progress.song-buffered-progress {
    color: #78909C;
    border: none; } }
@supports (-ms-ime-align: auto) {
  .amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container progress.song-buffered-progress {
    color: #78909C;
    border: none; } }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.5px 0;
  position: absolute;
  z-index: 9999;
  top: -7px;
  height: 20px;
  cursor: pointer;
  background-color: inherit; }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container input[type=range]:focus {
  outline: none; }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #FA6733;
  border-radius: 0px;
  border: 0px solid #010101; }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #FA6733;
  height: 15px;
  width: 15px;
  border-radius: 16px;
  background: #FA6733;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px; }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FA6733; }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container input[type=range]::-moz-range-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #FA6733;
  border-radius: 0px;
  border: 0px solid #010101; }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #FA6733;
  height: 15px;
  width: 15px;
  border-radius: 16px;
  background: #FA6733;
  cursor: pointer; }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container input[type=range]::-ms-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container input[type=range]::-ms-fill-lower {
  background: #003d57;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0); }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container input[type=range]::-ms-fill-upper {
  background: #FA6733;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0); }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #FA6733;
  height: 15px;
  width: 15px;
  border-radius: 16px;
  background: #FA6733;
  cursor: pointer;
  height: 0px;
  display: none; }
@media all and (-ms-high-contrast: none) {
  .amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container *::-ms-backdrop, div.white-player-center div.time-progress div.progress-container input[type="range"].amplitude-song-slider {
    padding: 0px; }
  .amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container *::-ms-backdrop, div.white-player-center div.time-progress div.progress-container input[type=range].amplitude-song-slider::-ms-thumb {
    height: 15px;
    width: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: -8px; }
  .amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container *::-ms-backdrop, div.white-player-center div.time-progress div.progress-container input[type=range].amplitude-song-slider::-ms-track {
    border-width: 15px 0;
    border-color: transparent; }
  .amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container *::-ms-backdrop, div.white-player-center div.time-progress div.progress-container input[type=range].amplitude-song-slider::-ms-fill-lower {
    background: #E1E1E1;
    border-radius: 10px; }
  .amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container *::-ms-backdrop, div.white-player-center div.time-progress div.progress-container input[type=range].amplitude-song-slider::-ms-fill-upper {
    background: #E1E1E1;
    border-radius: 10px; } }
@supports (-ms-ime-align: auto) {
  .amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container input[type=range].amplitude-song-slider::-ms-thumb {
    height: 15px;
    width: 15px;
    margin-top: 3px; } }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container input[type=range]:focus::-ms-fill-lower {
  background: #FA6733; }
.amplitudejs-white-playlist div.white-player-center div.time-progress div.progress-container input[type=range]:focus::-ms-fill-upper {
  background: #FA6733; }
.amplitudejs-white-playlist div.white-player-center div.time-progress span.duration {
  color: #AAAFB3;
  font-size: 12px;
  display: block;
  float: right;
  margin-right: 20px; }

.amplitudejs-white-playlist div.white-player-controls {
  text-align: center;
  padding-bottom: 35px; }
.amplitudejs-white-playlist div.white-player-controls div.shuffle {
  display: inline-block;
  width: 19px;
  height: 16px;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 24px; }
.amplitudejs-white-playlist div.white-player-controls div.shuffle.amplitude-shuffle-off {
  background: url("../img/white-playlist/shuffle-off.svg"); }
.amplitudejs-white-playlist div.white-player-controls div.shuffle.amplitude-shuffle-on {
  background: url("../img/white-playlist/shuffle-on.svg"); }
.amplitudejs-white-playlist div.white-player-controls div.previous {
  display: inline-block;
  height: 53px;
  width: 53px;
  cursor: pointer;
  background: url("../img/white-playlist/previous.svg");
  vertical-align: middle;
  margin-right: 16px; }
.amplitudejs-white-playlist div.white-player-controls div.play-pause {
  display: inline-block;
  width: 85px;
  height: 85px;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 16px; }
.amplitudejs-white-playlist div.white-player-controls div.play-pause.amplitude-paused {
  background: url("../img/white-playlist/play.svg"); }
.amplitudejs-white-playlist div.white-player-controls div.play-pause.amplitude-playing {
  background: url("../img/white-playlist/pause.svg"); }
.amplitudejs-white-playlist div.white-player-controls div.next {
  display: inline-block;
  height: 53px;
  width: 53px;
  cursor: pointer;
  background: url("../img/white-playlist/next.svg");
  vertical-align: middle;
  margin-right: 24px; }
.amplitudejs-white-playlist div.white-player-controls div.repeat {
  display: inline-block;
  width: 18px;
  height: 16px;
  cursor: pointer;
  vertical-align: middle; }
.amplitudejs-white-playlist div.white-player-controls div.repeat.amplitude-repeat-song-off {
  background: url("../img/white-playlist/repeat-off.svg"); }
.amplitudejs-white-playlist div.white-player-controls div.repeat.amplitude-repeat-song-on {
  background: url("../img/white-playlist/repeat-on.svg"); }

.amplitudejs-white-playlist div.white-player-playlist-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  z-index: 9999;
  display: none;
  height: 500px;
  border-radius: 8px; }

.amplitudejs-white-playlist div.white-player-playlist-top {
  height: 64px;
  text-align: center;
  display: flex; }
.amplitudejs-white-playlist div.white-player-playlist-top div {
  flex: 1; }
.amplitudejs-white-playlist div.white-player-playlist-top div span.queue {
  color: #414344;
  font-family: "Lato", sans-serif;
  line-height: 64px;
  font-weight: 600; }
.amplitudejs-white-playlist div.white-player-playlist-top div img.close-playlist {
  margin-right: 16px;
  margin-top: 22px;
  float: right;
  cursor: pointer; }

.amplitudejs-white-playlist div.white-player-up-next {
  margin-top: 6px;
  padding-left: 20px;
  font-size: 24px;
  color: #414344; }

.amplitudejs-white-playlist div.white-player-playlist {
  margin-top: 32px;
  height: calc( 100% - 200px );
  overflow-y: scroll; }

.amplitudejs-white-playlist div.white-player-playlist-song {
  border-bottom: 1px solid #F5F5F6;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer; }
.amplitudejs-white-playlist div.white-player-playlist-song:hover {
  background-color: rgba(211, 94, 154, 0.3); }
.amplitudejs-white-playlist div.white-player-playlist-song.amplitude-active-song-container {
  background-color: rgba(238, 100, 82, 0.3); }
.amplitudejs-white-playlist div.white-player-playlist-song img {
  width: 48px;
  height: 48px;
  border-radius: 3px;
  margin-left: 16px;
  float: left; }
.amplitudejs-white-playlist div.white-player-playlist-song div.playlist-song-meta {
  float: left;
  margin-left: 15px;
  width: calc( 100% - 80px ); }
.amplitudejs-white-playlist div.white-player-playlist-song div.playlist-song-meta span.playlist-song-name {
  color: #414344;
  font-size: 14px;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.amplitudejs-white-playlist div.white-player-playlist-song div.playlist-song-meta span.playlist-artist-album {
  color: #AAAFB3;
  font-size: 12px;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.amplitudejs-white-playlist div.white-player-playlist-song::after {
  content: "";
  display: table;
  clear: both; }

.amplitudejs-white-playlist div.white-player-playlist-controls {
  background-color: #F5F5F6;
  border-radius: 8px;
  padding: 16px; }
.amplitudejs-white-playlist div.white-player-playlist-controls img.playlist-album-art {
  float: left;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  height: 64px;
  width: 64px; }
.amplitudejs-white-playlist div.white-player-playlist-controls div.playlist-controls div.playlist-meta-data {
  display: inline-block;
  width: calc(100% - 125px);
  vertical-align: middle; }
.amplitudejs-white-playlist div.white-player-playlist-controls div.playlist-controls div.playlist-meta-data span.song-name {
  display: block;
  color: #414344;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.amplitudejs-white-playlist div.white-player-playlist-controls div.playlist-controls div.playlist-meta-data span.song-artist {
  display: block;
  color: #AAAFB3;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.amplitudejs-white-playlist div.white-player-playlist-controls div.playlist-controls div.playlist-control-wrapper {
  text-align: center;
  margin-top: 10px;
  display: inline-block;
  width: 120px;
  vertical-align: middle; }
.amplitudejs-white-playlist div.white-player-playlist-controls div.playlist-controls div.playlist-control-wrapper div.playlist-previous {
  display: inline-block;
  height: 32px;
  width: 32px;
  cursor: pointer;
  background: url("../img/white-playlist/previous.svg");
  vertical-align: middle;
  background-size: 32px 32px; }
.amplitudejs-white-playlist div.white-player-playlist-controls div.playlist-controls div.playlist-control-wrapper div.playlist-play-pause {
  display: inline-block;
  width: 32px;
  height: 32px;
  cursor: pointer;
  vertical-align: middle; }
.amplitudejs-white-playlist div.white-player-playlist-controls div.playlist-controls div.playlist-control-wrapper div.playlist-play-pause.amplitude-paused {
  background: url("../img/white-playlist/play.svg");
  background-size: 32px 32px; }
.amplitudejs-white-playlist div.white-player-playlist-controls div.playlist-controls div.playlist-control-wrapper div.playlist-play-pause.amplitude-playing {
  background: url("../img/white-playlist/pause.svg");
  background-size: 32px 32px; }
.amplitudejs-white-playlist div.white-player-playlist-controls div.playlist-controls div.playlist-control-wrapper div.playlist-next {
  display: inline-block;
  height: 32px;
  width: 32px;
  cursor: pointer;
  background: url("../img/white-playlist/next.svg");
  vertical-align: middle;
  background-size: 32px 32px; }

.amplitudejs-white-playlist div.white-player-playlist-controls::after {
  content: "";
  display: table;
  clear: both; }

/*
  3. Layout
*/

@media screen and (max-width: 39.9375em) {
  .amplitudejs-white-playlist {
    flex-direction: column; }
  .amplitudejs-white-playlist div.left {
    width: 100%; }
}
/*
  4. Pages
*/
/*
  5. Themes
*/
/*
  6. Utils
*/
/*
  7. Vendors
*/
/*
  8. Animations
*/
.amplitudejs-white-playlist .slide-in-top {
  -webkit-animation: amplitudejs-white-playlist-slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: amplitudejs-white-playlist-slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
.amplitudejs-white-playlist .slide-out-top {
  -webkit-animation: amplitudejs-white-playlist-slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: amplitudejs-white-playlist-slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

/* ----------------------------------------------
 * Generated by Animista on 2019-3-25 18:39:54
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes amplitudejs-white-playlist-slide-in-top {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@keyframes amplitudejs-white-playlist-slide-in-top {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

/* ----------------------------------------------
 * Generated by Animista on 2019-3-25 18:45:17
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-out-top
 * ----------------------------------------
 */
@-webkit-keyframes amplitudejs-white-playlist-slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0; } }
@keyframes amplitudejs-white-playlist-slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0; } }

