{% if has_songs %}
<div id="{{ html_id }}" class="amplitudejs-blue-playlist amplitude-player-wrapper {% if songs|length <= 1 %}is-single-song{% endif %}">
    <div class="amplitude-left">

      <img data-amplitude-song-info="cover_art_url" class="album-art" data-amplitude-playlist="{{ html_id }}"/>
      <div class="amplitude-visualization large-visualization" data-amplitude-playlist="{{ html_id }}"></div>

      <div class="player-left-bottom">
        <div class="time-container">
          <span class="current-time">
            <span class="amplitude-current-hours" data-amplitude-playlist="{{ html_id }}">
            </span>:<span class="amplitude-current-minutes" data-amplitude-playlist="{{ html_id }}">
            </span>:<span class="amplitude-current-seconds" data-amplitude-playlist="{{ html_id }}"></span>
          </span>

          <div class="progress-container">
            <div class="amplitude-wave-form" data-amplitude-playlist="{{ html_id }}"></div>

            <input type="range" class="amplitude-song-slider" data-amplitude-playlist="{{ html_id }}"/>

            <progress class="amplitude-song-played-progress song-played-progress" id="song-played-progress-{{ html_id }}"
                      data-amplitude-playlist="{{ html_id }}"></progress>
            <progress class="amplitude-buffered-progress song-buffered-progress" id="song-buffered-progress-{{ html_id }}"
                      data-amplitude-playlist="{{ html_id }}" value="0"></progress>

          </div>
          <span class="duration">
            <span class="amplitude-duration-hours" data-amplitude-playlist="{{ html_id }}">
            </span>:<span class="amplitude-duration-minutes" data-amplitude-playlist="{{ html_id }}">
            </span>:<span class="amplitude-duration-seconds" data-amplitude-playlist="{{ html_id }}"></span>
          </span>

        </div>

        <div class="control-container">
          <div class="repeat-container">
            {% if songs|length > 1 %}
            <div class="amplitude-repeat-song" id="{{ html_id }}-repeat" data-amplitude-playlist="{{ html_id }}"></div>
            <div class="amplitude-shuffle amplitude-shuffle-off shuffle-left" id="{{ html_id }}-shuffle" data-amplitude-playlist="{{ html_id }}"></div>
            {% endif %}
          </div>

          <div class="central-control-container">
            <div class="central-controls">
              {% if songs|length > 1 %}
              <div class="amplitude-prev" id="{{ html_id }}-previous" data-amplitude-playlist="{{ html_id }}"></div>
              {% endif %}
              <div class="amplitude-play-pause" id="{{ html_id }}-play-pause" data-amplitude-playlist="{{ html_id }}"></div>
              {% if songs|length > 1 %}
              <div class="amplitude-next" id="{{ html_id }}-next" data-amplitude-playlist="{{ html_id }}"></div>
              {% endif %}
            </div>
          </div>

          <div class="volume-container">
            <div class="volume-controls">
              <div class="amplitude-mute amplitude-not-muted" data-amplitude-playlist="{{ html_id }}"></div>
              <input type="range" class="amplitude-volume-slider" data-amplitude-playlist="{{ html_id }}"/>
              <div class="ms-range-fix" data-amplitude-playlist="{{ html_id }}"></div>
            </div>
            <div class="amplitude-shuffle amplitude-shuffle-off shuffle-right" id="{{ html_id }}-shuffle-right" data-amplitude-playlist="{{ html_id }}"></div>
          </div>
        </div>

        <div class="meta-container">
          <span data-amplitude-song-info="name" class="song-name" data-amplitude-playlist="{{ html_id }}"></span>

          <div class="song-artist-album">
            <span data-amplitude-song-info="artist" data-amplitude-playlist="{{ html_id }}"></span>
            <span data-amplitude-song-info="album" data-amplitude-playlist="{{ html_id }}"></span>
          </div>

        </div>

      </div>
    </div>

  {% if songs|length > 1 %}
    <div class="amplitude-right">
      {% for song in songs %}
        <div class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="{{ loop.index0 }}"
             data-amplitude-playlist="{{ html_id }}">
          <div class="song-now-playing-icon-container">
            <div class="play-button-container"></div>
            <img class="now-playing" src="/{{ module_path }}/img/blue-playlist/now-playing.svg"/>
          </div>
          <div class="song-meta-data">
            <span class="song-title">{{ song.name }}</span>
            <span class="song-artist">{{ song.artist }}</span>
          </div>
          <span class="song-duration">{{ song.duration }}</span>
        </div>
      {% endfor %}
    </div>
  {% endif %}

</div>
{% endif %}
