{% if has_songs %}
<div id="{{ html_id }}" class="amplitudejs-flat-black-playlist amplitude-player-wrapper">

    {% if songs|length > 1 %}
      <div class="list-screen slide-in-top">
        <div class="list-screen-header hide-playlist">
          <img class="up-arrow" src="/{{ module_path }}/img/flat-black-playlist/up.svg"/>
          {{ 'Hide Playlist'|trans }}
        </div>

        <div class="list">
          {% for song in songs %}
            <div class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="{{ loop.index0 }}"
              data-amplitude-playlist="{{ html_id }}">
              <span class="song-number-now-playing">
                <span class="number">{{ loop.index }}</span>
                <img class="now-playing" src="/{{ module_path }}/img/flat-black-playlist/now-playing.svg" data-amplitude-playlist="{{ html_id }}"/>
              </span>

              <div class="song-meta-container">
                <span class="song-name">{{ song.name }}</span>
                <span class="song-artist-album">{{ song.artist }}</span>
              </div>

              <span class="song-duration"></span>
            </div>
          {% endfor %}
        </div>

        <div class="list-screen-footer">
          <div class="list-screen-meta-container">
            <span data-amplitude-song-info="name" class="song-name" data-amplitude-playlist="{{ html_id }}"></span>

            <div class="song-artist-album">
              <span data-amplitude-song-info="artist" data-amplitude-playlist="{{ html_id }}"></span>
            </div>
          </div>
          <div class="list-controls">
            <div class="list-previous amplitude-prev" data-amplitude-playlist="{{ html_id }}"></div>
            <div class="list-play-pause amplitude-play-pause" data-amplitude-playlist="{{ html_id }}"></div>
            <div class="list-next amplitude-next" data-amplitude-playlist="{{ html_id }}"></div>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="player-screen">

      {% if songs|length > 1 %}
        <div class="player-header down-header">
          <img class="down" src="/{{ module_path }}/img/flat-black-playlist/down.svg"/>
          {{ 'Show Playlist'|trans }}
        </div>
      {% else %}
        <div class="player-header"></div>
      {% endif %}

      <div class="player-top">
        <img data-amplitude-song-info="cover_art_url" class="album-art" data-amplitude-playlist="{{ html_id }}"/>
      </div>
      <div class="player-progress-bar-container">
        <progress class="amplitude-song-played-progress song-played-progress" id="song-played-progress-{{ html_id }}"
                  data-amplitude-playlist="{{ html_id }}"></progress>
        <progress class="amplitude-buffered-progress song-buffered-progress" id="song-buffered-progress-{{ html_id }}"
                  data-amplitude-playlist="{{ html_id }}" value="0"></progress>
      </div>
      <div class="player-middle">
        <div class="time-container">
            <span class="amplitude-current-hours" data-amplitude-playlist="{{ html_id }}">
            </span>:<span class="amplitude-current-minutes" data-amplitude-playlist="{{ html_id }}">
            </span>:<span class="amplitude-current-seconds" data-amplitude-playlist="{{ html_id }}"></span>
        </div>
        <div class="meta-container">
          <span data-amplitude-song-info="name" class="song-name" data-amplitude-playlist="{{ html_id }}"></span>

          <div class="song-artist-album">
            <span data-amplitude-song-info="artist" data-amplitude-playlist="{{ html_id }}"></span>
          </div>
        </div>
      </div>
      <div class="player-bottom">
        <div class="control-container">

          {% if songs|length > 1 %}
          <div class="shuffle-container">
            <div class="amplitude-shuffle amplitude-shuffle-off shuffle" id="{{ html_id }}-shuffle" data-amplitude-playlist="{{ html_id }}"></div>
          </div>

          <div class="prev-container">
            <div class="amplitude-prev previous" id="{{ html_id }}-previous" data-amplitude-playlist="{{ html_id }}"></div>
          </div>
          {% endif %}

          <div class="play-pause-container">
            <div class="amplitude-play-pause play-pause" id="{{ html_id }}-play-pause" data-amplitude-playlist="{{ html_id }}"></div>
          </div>

          {% if songs|length > 1 %}
          <div class="next-container">
            <div class="amplitude-next next" id="{{ html_id }}-next" data-amplitude-playlist="{{ html_id }}"></div>
          </div>

          <div class="repeat-container">
            <div class="amplitude-repeat-song repeat" id="{{ html_id }}-repeat" data-amplitude-playlist="{{ html_id }}"></div>
          </div>
          {% endif %}

        </div>

        <div class="volume-container">
          <img class="amplitude-mute amplitude-not-muted" src="/{{ module_path }}/img/flat-black-playlist/volume.svg"/>
          <input type="range" class="amplitude-volume-slider" data-amplitude-playlist="{{ html_id }}"/>
        </div>
      </div>
    </div>
</div>
{% endif %}
