{% if has_songs %}
<div id="{{ html_id }}" class="amplitudejs-multiple-songs amplitude-player-wrapper player">
  <img class="album-art" data-amplitude-song-info="cover_art_url" data-amplitude-playlist="{{ html_id }}"/>
  <div class="meta-container">
    <div data-amplitude-song-info="name"  class="song-title" data-amplitude-playlist="{{ html_id }}"></div>
    <div data-amplitude-song-info="artist" class="song-artist" data-amplitude-playlist="{{ html_id }}"></div>

    <div class="time-container">
      <div class="current-time">
        <span class="amplitude-current-hours" data-amplitude-playlist="{{ html_id }}">
        </span>:<span class="amplitude-current-minutes" data-amplitude-playlist="{{ html_id }}">
        </span>:<span class="amplitude-current-seconds" data-amplitude-playlist="{{ html_id }}"></span>
      </div>

      <div class="duration">
        <span class="amplitude-duration-hours" data-amplitude-playlist="{{ html_id }}">
        </span>:<span class="amplitude-duration-minutes" data-amplitude-playlist="{{ html_id }}">
        </span>:<span class="amplitude-duration-seconds" data-amplitude-playlist="{{ html_id }}"></span>
      </div>
    </div>

    <progress class="amplitude-song-played-progress" id="song-played-progress-{{ html_id }}"
              data-amplitude-playlist="{{ html_id }}"></progress>

    <div class="control-container">
      {% if songs|length > 1 %}
        <div class="amplitude-prev" data-amplitude-playlist="{{ html_id }}"></div>
      {% endif %}
      <div class="amplitude-play-pause" id="{{ html_id }}-play-pause" data-amplitude-playlist="{{ html_id }}"></div>

      {% if songs|length > 1 %}
        <div class="amplitude-next" data-amplitude-playlist="{{ html_id }}"></div>
      {% endif %}

    </div>
  </div>
</div>
{% endif %}
