{% if has_songs %}
<div id="{{ html_id }}" class="amplitudejs-simple-black-playlist amplitude-player-wrapper player black-player">
{% if songs|length > 1 %}
  <div class="black-player-playlist">
    {% for song in songs %}
    <div
      class="black-player-song amplitude-song-container amplitude-play-pause"
      data-amplitude-song-index="{{ loop.index0 }}"
      data-amplitude-playlist="{{ html_id }}"
    >
      {% if song.cover_art_url or song.cover_art_url != '' %}
        <img src="{{ song.cover_art_url }}"/>
      {% endif %}
      <div class="song-meta-container">
        <span class="individual-song-name">{{ song.name }}</span>
        <span class="individual-song-artist">{{ song.artist }}</span>
      </div>
    </div>
    {% endfor %}
 </div>
 {% endif %}
  <div class="black-player-controls">
    <img data-amplitude-song-info="cover_art_url" class="album-art main-album-art playlist-album-art" data-amplitude-playlist="{{ html_id }}"/>
    <div class="black-player-controls-container">
      <span data-amplitude-song-info="name" class="song-name" data-amplitude-playlist="{{ html_id }}"></span>
      <span data-amplitude-song-info="artist" class="song-artist" data-amplitude-playlist="{{ html_id }}"></span>

      <div class="progress-container-black">
        <input type="range" class="amplitude-song-slider" data-amplitude-playlist="{{ html_id }}"/>
        <progress class="song-played-progress-black amplitude-song-played-progress" id="song-played-progress-{{ html_id }}" data-amplitude-playlist="{{ html_id }}"></progress>
        <progress class="song-buffered-progress-black amplitude-buffered-progress" value="0"  id="song-buffered-progress-{{ html_id }}"></progress>
      </div>

      <div>
      {% if songs|length > 1 %}
        <div class="amplitude-shuffle amplitude-shuffle-off shuffle-black" data-amplitude-playlist="{{ html_id }}"></div>
        <div class="amplitude-prev previous-black" data-amplitude-playlist="{{ html_id }}"></div>
      {% endif %}
        <div class="amplitude-play-pause play-pause-black" id="{{ html_id }}-play-pause" data-amplitude-playlist="{{ html_id }}"></div>
      {% if songs|length > 1 %}
        <div class="amplitude-next next-black" data-amplitude-playlist="{{ html_id }}"></div>
        <div class="amplitude-repeat-song repeat-black" data-amplitude-playlist="{{ html_id }}"></div>
      {% endif %}
      </div>

    </div>
  </div>
</div>
{% endif %}
