{% if has_songs %}
<div id="{{ html_id }}" class="amplitudejs-single-song-player amplitude-player-wrapper">
  <img data-amplitude-song-info="cover_art_url" data-amplitude-playlist="{{ html_id }}"/>
  <div class="bottom-container">
    <progress class="amplitude-song-played-progress" id="song-played-progress-{{ html_id }}"
              data-amplitude-playlist="{{ html_id }}"></progress>

    <div class="time-container">
          <span class="current-time">
            <span class="amplitude-current-hours" data-amplitude-playlist="{{ html_id }}">
            </span>:<span class="amplitude-current-minutes" data-amplitude-playlist="{{ html_id }}">
            </span>:<span class="amplitude-current-seconds" data-amplitude-playlist="{{ html_id }}"></span>
          </span>
          <span class="duration">
            <span class="amplitude-duration-hours" data-amplitude-playlist="{{ html_id }}">
            </span>:<span class="amplitude-duration-minutes" data-amplitude-playlist="{{ html_id }}">
            </span>:<span class="amplitude-duration-seconds" data-amplitude-playlist="{{ html_id }}"></span>
          </span>
    </div>

    <div class="control-container">
      <div class="amplitude-play-pause" id="{{ html_id }}-play-pause" data-amplitude-playlist="{{ html_id }}"></div>
      <div class="meta-container">
        <span data-amplitude-song-info="name" class="song-name" data-amplitude-playlist="{{ html_id }}"></span>
        <span data-amplitude-song-info="artist" data-amplitude-playlist="{{ html_id }}"></span>
      </div>
    </div>
  </div>
</div>
{% endif %}
