 {% if has_songs %}
    <div id="{{ html_id }}" class="visualizations-player amplitude-player-wrapper">
      <div class="top-container">
        <img class="now-playing-album-art large-now-playing-album-art" data-amplitude-song-info="cover_art_url" data-amplitude-playlist="{{ html_id }}"/>
        <div class="amplitude-visualization large-visualization" data-amplitude-playlist="{{ html_id }}">

        </div>
        <div class="visualization-toggle visualization-on"></div>
        <div class="amplitude-shuffle" data-amplitude-playlist="{{ html_id }}"></div>
        <div class="amplitude-repeat-song" data-amplitude-playlist="{{ html_id }}"></div>
      </div>

      <div class="meta-data-container">
        <span class="now-playing-name" data-amplitude-song-info="name" data-amplitude-playlist="{{ html_id }}"></span>
        <span class="now-playing-artist-album">
          <span class="now-playing-artist" data-amplitude-song-info="artist" data-amplitude-playlist="{{ html_id }}"></span> -
          <span class="now-playing-album" data-amplitude-song-info="album" data-amplitude-playlist="{{ html_id }}"></span>
        </span>
      </div>

      <div class="control-container">
        <div class="amplitude-prev" data-amplitude-playlist="{{ html_id }}"></div>

        <div class="amplitude-play-pause amplitude-paused" id="{{ html_id }}-play-pause" data-amplitude-playlist="{{ html_id }}"></div>

        <div class="amplitude-next" data-amplitude-playlist="{{ html_id }}"></div>
      </div>

      <div class="song-navigation">
        <input type="range" class="amplitude-song-slider" data-amplitude-playlist="{{ html_id }}" />
        <div class="navigation-time">
            <span class="amplitude-current-time" data-amplitude-playlist="{{ html_id }}"></span>
            <span class="amplitude-time-remaining" data-amplitude-playlist="{{ html_id }}"></span>
        </div>
      </div>

      <div class="arrow-up">
        <img src="https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/arrow-up.svg" class="arrow-up-icon"/>
      </div>

      <div class="visualizations-player-playlist">
        <div class="top-arrow">
          <img src="https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/arrow-down.svg" class="arrow-down-icon"/>
        </div>

        <div class="top">
          <span class="playlist-title">{{ 'Songs'|trans }}</span>
          <div class="amplitude-repeat-song" data-amplitude-playlist="{{ html_id }}"></div>
          <div class="amplitude-shuffle" data-amplitude-playlist="{{ html_id }}"></div>
        </div>

        <div class="songs-container">
            {% for song in songs %}
            <div class="song amplitude-song-container amplitude-play-pause"  data-amplitude-song-index="{{ loop.index0 }}">
                <span class="song-position">{{ "%02d"|format(loop.index) }}</span>
                <img class="song-album-art" data-amplitude-song-info="cover_art_url" data-amplitude-song-index="{{ loop.index0 }}"/>
                <div class="song-meta-data-container">
                <span class="song-name" data-amplitude-song-info="name" data-amplitude-song-index="{{ loop.index0 }}"></span>
                <span class="song-artist" data-amplitude-song-info="artist" data-amplitude-song-index="{{ loop.index0 }}"></span>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="active-audio">
          <img class="cover-art-small" data-amplitude-song-info="cover_art_url"/>

          <div class="active-audio-right">
            <span class="song-name" data-amplitude-song-info="name"></span>

            <div class="active-audio-controls">
              <div class="amplitude-prev"></div>
              <div class="amplitude-play-pause"></div>
              <div class="amplitude-next"></div>
            </div>

          </div>
        </div>
      </div>
    </div>
{% endif %}
