{% if has_songs %}
  <div id="{{ html_id }}" class="amplitudejs-white-playlist amplitude-player-wrapper">

    {% if songs|length > 1 %}
      <div class="white-player-top">
        <div>
          &nbsp;
        </div>

        <div class="center">
          <span class="now-playing">{{ 'Now Playing'|trans }}</span>
        </div>

        <div>
          <img src="/{{ module_path }}/img/white-playlist/show-playlist.svg" class="show-playlist"/>
        </div>
      </div>
    {% endif %}

    <div class="white-player-center">
      <img data-amplitude-song-info="cover_art_url" class="album-art main-album-art" data-amplitude-playlist="{{ html_id }}"/>

      <div class="song-meta-data">
        <span data-amplitude-song-info="name" class="song-name" data-amplitude-playlist="{{ html_id }}"></span>
        <span data-amplitude-song-info="artist" class="song-artist" data-amplitude-playlist="{{ html_id }}"></span>
      </div>

      <div class="time-progress">
        <div class="progress-container">
          <input type="range" class="amplitude-song-slider" data-amplitude-playlist="{{ html_id }}"/>
          <progress class="amplitude-song-played-progress song-played-progress" id="song-played-progress-{{ html_id }}"
                    data-amplitude-playlist="{{ html_id }}"></progress>
          <progress class="amplitude-buffered-progress song-buffered-progress" id="song-buffered-progress-{{ html_id }}"
                    data-amplitude-playlist="{{ html_id }}" value="0"></progress>
        </div>

        <div class="time-container">
          <span class="current-time">
            <span class="amplitude-current-hours" data-amplitude-playlist="{{ html_id }}">
            </span>:<span class="amplitude-current-minutes" data-amplitude-playlist="{{ html_id }}">
            </span>:<span class="amplitude-current-seconds" data-amplitude-playlist="{{ html_id }}"></span>
          </span>

          <span class="duration">
            <span class="amplitude-duration-hours" data-amplitude-playlist="{{ html_id }}">
            </span>:<span class="amplitude-duration-minutes" data-amplitude-playlist="{{ html_id }}">
            </span>:<span class="amplitude-duration-seconds" data-amplitude-playlist="{{ html_id }}"></span>
          </span>
        </div>
      </div>
    </div>

    <div class="white-player-controls">
      {% if songs|length > 1 %}
      <div class="amplitude-shuffle amplitude-shuffle-off shuffle" id="{{ html_id }}-shuffle" data-amplitude-playlist="{{ html_id }}"></div>
      <div class="amplitude-prev previous" id="{{ html_id }}-previous" data-amplitude-playlist="{{ html_id }}"></div>
      {% endif %}
      <div class="amplitude-play-pause play-pause" id="{{ html_id }}-play-pause" data-amplitude-playlist="{{ html_id }}"></div>

      {% if songs|length > 1 %}
      <div class="amplitude-next next" id="{{ html_id }}-next" data-amplitude-playlist="{{ html_id }}"></div>
      <div class="amplitude-repeat-song repeat" id="{{ html_id }}-repeat" data-amplitude-playlist="{{ html_id }}"></div>
      {% endif %}
    </div>

    <div class="white-player-playlist-container">
      <div class="white-player-playlist-top">
        <div>

        </div>
        <div>
          <span class="queue">{{ 'Queue'|trans }}</span>
        </div>
        <div>
          <img src="/{{ module_path }}/img/white-playlist/close.svg" class="close-playlist"/>
        </div>
      </div>

      <div class="white-player-up-next">
        {{ 'Up Next'|trans }}
      </div>

      <div class="white-player-playlist">
        {% for song in songs %}
          <div class="white-player-playlist-song amplitude-song-container amplitude-play-pause"
             data-amplitude-song-index="{{ loop.index0 }}" data-amplitude-playlist="{{ html_id }}">

            {% if song.cover_art_url or song.cover_art_url != '' %}
              <img src="{{ song.cover_art_url }}"/>
            {% endif %}

          <div class="playlist-song-meta">
            <span class="playlist-song-name">{{ song.name }}</span>
            <span class="playlist-artist-album">{{ song.artist }}</span>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="white-player-playlist-controls">

        <div class="playlist-controls">
          <div class="playlist-meta-data">
            <span data-amplitude-song-info="name" class="song-name" data-amplitude-playlist="{{ html_id }}"></span>
            <span data-amplitude-song-info="artist" class="song-artist" data-amplitude-playlist="{{ html_id }}"></span>
          </div>

          <div class="playlist-control-wrapper">
            <div class="amplitude-prev playlist-previous" data-amplitude-playlist="{{ html_id }}"></div>
            <div class="amplitude-play-pause playlist-play-pause" data-amplitude-playlist="{{ html_id }}"></div>
            <div class="amplitude-next playlist-next" data-amplitude-playlist="{{ html_id }}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
